{% extends 'base.html' %}
{% block content %}
<h2>Admin Panel</h2>

<a href="logout">logout</a>
<table class="table" border="1" cellpadding="10">
              <thead>
                <tr>
                  <th>#Date</th>
                  <th>Team1</th>
                  <th>Team2</th>
                  <th>Venue</th>
                    <th>Score of Team1</th>
                    <th>Score of Team2</th>
                    <th>Completed</th>
                    <th>Edit</th>
                </tr>
              </thead>
              <tbody>
              {% for match in matches %}
                <tr>
                  <td>{{match.date}}</td>
                    <td><a href="team/{{match.team1.id}}">{{match.team1.teamName}}</a></td>
                  <td><a href="team/{{match.team2.id}}">{{match.team2.teamName}}</a></td>
                  <td>{{match.venue.venue}}</td>
                    <td>{{match.team1_score}}</td>
                    <td>{{match.team2.score}}</td>
                    <td>{% if match.match_over == True %}
                        Yes
                        {% else %}
                        No
                        {% endif %}
                    </td>
                    <td>
                        <a href="match_edit/{{match.id}}">Edit</a>
                    </td>
                    {% endfor %}
                </tr>

              </tbody>
            </table>
{% endblock %}